button {
    padding: 0.5rem;
    background-color: #00000000;
    border-radius: 10px;
    transition: $btn-transition--hover;
    border: var(--btn-primary);
    color: var(--foreground--main);

    &:hover {
        border: var(--btn-secondary);
        color: var(--foreground--accent);
    }

    &.secondary, &.active {
        border: var(--btn-secondary);
        color: var(--foreground--accent);
    }

    &:hover {
        animation: btnHover 0.65s ease-in-out;
        cursor: pointer;
    }

    @media(min-width: 70rem) {
        font-size: $text-m;
    }
}