button {
    padding: 0.5rem;
    background-color: #00000000;
    border-radius: 10px;
    transition: $btn-transition--hover;

    &.primary {
        border: $btn-primary;
        color: $foreground--main;

        &:hover {
            border: $btn-secondary;
            color: $foreground--accent;
        }
    }

    &.secondary {
        border: $btn-secondary;
        color: $foreground--accent;
    }

    &:hover {
        animation: btnHover 0.65s ease-in-out;
        cursor: pointer;
    }
}