.card-bg {
    background: linear-gradient(to top, #5b5b5bb3, #4a4a4ab3);
    padding: 0.75rem;
    border-radius: 1.15rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
}