#carousel {
    margin: 2.5rem 1rem 1rem;

    .react-multi-carousel-list {
        overflow: visible;

        .react-multi-carousel-item {
            right: 10px;            
            z-index: 100;
            transition: transform 0.4s ease, opacity 0.4s ease, right 0.4s ease;

            @media(min-width: 62.5rem) {
                right: 0;
            }

            img {
                border-radius: 0.65rem;
                padding-right: -0.25rem;
                box-shadow: var(--box-shadow-mild);
            }
        }

        .react-multi-carousel-item:not(.react-multi-carousel-item--active) {
            z-index: 50;
            right: 100px;
            opacity: 0.25;
            transform: scale(0.8);
            @media(min-width: 62.5rem) {
                right: 0;
            }
        }

        .react-multi-carousel-item:has(+ .react-multi-carousel-item--active) {
            @media(min-width: 62.5rem) {
                left: 8rem;
            }
        }

        .react-multi-carousel-item--active + .react-multi-carousel-item {
            @media(min-width: 62.5rem) {
                right: 8rem;
            }
        }
    }

    .react-multiple-carousel__arrow--left {
        left: 7px;
        @media(min-width: 62.5rem) {
            left: 0;
        }
    }

    .react-multiple-carousel__arrow--right {
        right: 27px;
        @media(min-width: 62.5rem) {
            right: 0;
        }
    }
}