.card-bg {
    background: var(--project-card);
    padding: 0.75rem;
    border-radius: 1.15rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    box-shadow: var(--box-shadow);
}