svg {
    stroke: var(--foreground--main);
}

.social-icon {
    @include centerFlex;
    border-radius: 100%;
    border: 2px solid var(--foreground--main);
    width: 2.5rem;
    height: 2.5rem;
    transition: transform 0.65s ease, border 1s ease;
    background: var(--background--main);

    a {
        @include centerFlex;
    }
    svg {
        stroke: var(--foreground--main);
        transition: stroke 1s ease;
    }

    &:hover {
        transform: scale(1.05);
        border: 2px solid var(--foreground--accent);
        animation: iconHover 0.65s ease-in-out;
        cursor: pointer;

        svg {
            stroke: var(--foreground--accent);
        }
    }

    @media (min-width: 70rem) {
        width: 2.85rem;
        height: 2.85rem;

        svg {
            width: 30px;
            height: auto;
        }
    }
}
