@use '../abstracts/animations' as *;
header {
    position: fixed;
    bottom: 2rem;
    left: 1rem;

    nav {
        ul {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding-bottom: 0.75rem;
            visibility: hidden;
            position: relative;
            bottom: -200px;
            transition: bottom 0.65s ease, visibility 0.65s ease, opacity 0.25s ease;
            opacity: 0;
        }

        .menu {
            position: relative;
            &:hover {
                .bar, .bar::before, .bar::after {
                    background-color: $foreground--accent;
                }
                cursor: pointer;
                animation: btnHover 0.65s ease;
            }
            .bar {
                @include menu-bar;
    
                &::before, &::after {
                    @include menu-bar;
                    @include menu-bar-before-after;
                    top: 10px;
                }
    
                &::before {
                    top: -10px;
                }
            }
        }

        &.show {
            ul {
                visibility: visible;
                bottom: 0;
                opacity: 1;
                
                li {
                    z-index: 99;
                    display: flex;
                    flex-direction: column;

                    @media (min-width: 70rem) {
                        font-size: $text-m;
                    }
                }
            }

            .menu {
                position: fixed;
                z-index: 99;
                bottom: 2rem;
                &:hover {
                    .bar::before, .bar::after {
                        background-color: $foreground--accent;
                    }
                    cursor: pointer;
                    animation: btnHover 0.65s ease;
                }
                .bar {
                    background-color: transparent;

                    &::before {
                        background-color: $foreground--main;
                        transform: rotate(45deg) translateY(9px) translateX(5px);
                    }
            
                    &::after {
                        background-color: $foreground--main;
                        transform: rotate(-45deg) translateY(-9px) translateX(5px);
                    }
                }
            }
        }
    }

    .overlay {
        visibility: hidden;
        z-index: 98;
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 500px;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.95;
        background: linear-gradient(to top, #000000 30%, #00000000);
        transition: top 0.45s ease, visibility 0.45s ease;
        &.show {
            visibility: visible;
            top: 0;
        }
    }

    @media (min-width: 650px) {
        position: absolute;
        top: 0;
        right: 0;
        nav {
            ul {
                visibility: visible;
                display: flex;
                justify-content: flex-end;
                flex-direction: row;
                padding-right: 4rem;
                gap: 2rem;
                position: static;
                opacity: 1;
                margin-bottom: 0;
                
                @media (min-width: 70rem) {
                    padding-right: 5rem;
                }
            }
        }
        .menu {
            display: none;
        }
    }
}