.notification {
    display: flex;
    overflow: hidden;
    transform: translateX(110%);
    transition: transform 0.35s ease-in-out;
    position: fixed;
    bottom: 1.75rem;
    right: 0;
    padding: 0.5rem;
    background-color: var(--foreground--accent);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: var(--notification);
    font-weight: 500;
    z-index: 100;
    box-shadow: var(--box-shadow);

    svg {
        stroke: var(--notification);
    }

    &.clipboard {
        gap: 0.5rem;
        align-items: center;

        &.show {
            display: flex;
            transform: translateX(0);
        }
    

        p {
            margin: 0;
        }
    }
}