#project-info {
    .process-accordion {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .panel {
            display: flex;
            flex-direction: column;
            opacity: 0;
            max-height: 0;
            transition: all 0.8s ease, opacity 0.5s ease;

            &.active {
                max-height: 1000px;
                opacity: 1;
            }

            .featured-image-wrapper {
                display: grid;
                gap: 0.5rem;
    
                &.grid-col-1 {
                    grid-template-columns: 1fr;
                }
    
                &.grid-col-2 {
                    grid-template-columns: repeat(2, 1fr);
                }
    
                &.grid-col-3 {
                    grid-template-columns: repeat(3, 1fr);
                }
    
                &.grid-col-4 {
                    grid-template-columns: repeat(4, 1fr);
                }
    
                &.grid-col-5 {
                    grid-template-columns: repeat(5, 1fr);
                }
            }
        }

        button {
            display: flex;
            align-items: center;
            animation: none;
            position: relative;
            z-index: 9;
            border: none;
            background-color: var(--foreground--med);
            padding: 1rem;

            svg {
                margin-left: auto;
                transition: transform 0.5s ease;

                &.active {
                    transform: rotate(180deg);
                }
            }

        }
    }
}