.card-bg.project {
    &:hover {
        border: 2px solid $foreground--accent;
        animation: cardHover 3.5s ease-in-out;
        animation-iteration-count: 1000000;
    }
    
    &.right-swipe {
        left: 135px;
        transition: left 1s ease;

        &.show {
            left: 0;
        }
    }

    &.left-swipe {
        right: 135px;
        transition: right 1s ease;

        &.show {
            right: 0;
        }
    }

    img {
        border-radius: 0.45rem;
        margin-bottom: 0.5rem;
        box-shadow: 0 0 10px 2px #00000066;
    }

    > p {
        color: $text-light;
    }

    .learn-more {
        width: fit-content;
        a {
            display: flex;
            align-items: center;
        }
    }

    .tech-used {
        display: flex;
        gap: 0.5rem;

        p {
            padding: 0.25rem 0.75rem;
            border-radius: 10px;
            border: 1.5px solid $text-light;
        }
    }
}