#featured-work {
    .project-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        margin-top: 1rem;
    
        justify-self: center;
    
        @media (min-width: 40rem) {
            flex-direction: row;
            flex-wrap: wrap;
            .project {
                max-width: 46%;
            }
        }
    
        @media (min-width: 61rem) {
            flex-wrap: nowrap;
        }
    
        @media (min-width: 78.75rem) {
            &.featured {
                max-width: 90%;
            }
        }
        
        


    }

    display: flex;
    flex-direction: column;
    overflow: hidden;

    h2, h3, p {
        margin: 0;
    }

    @media (min-width: 78.75rem) {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }

    .see-more-btn {
        position: relative;
        padding: 0.5rem;
        background-color: #00000000;
        border-radius: 10px;
        transition: $btn-transition--hover;
        border: $btn-primary;
        color: $foreground--main;
        width: fit-content;
        margin-top: 2rem;
        justify-self: flex-end;
        margin-right: 4rem;
    
        &:hover {
            border: $btn-secondary;
            color: $foreground--accent;
            animation: btnHover 0.65s ease-in-out;
        }
    }
}