#featured-work {

    padding: 0 $padding-sm $padding-lg;

    h2, h3, p {
        margin: 0;
    }
    .project-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 1rem;
        overflow: hidden;

        .project {
            background: linear-gradient(to top, #5b5b5bb3, #4a4a4ab3);
            padding: 0.75rem;
            border-radius: 1.15rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            position: relative;
            box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);

            &:hover {
                background: linear-gradient(to top, #5b5b5bd9, #4a4a4ad9);
                animation: cardHover 3.5s ease-in-out;
                animation-iteration-count: 1000000;
            }

            @media (min-width: 40rem) {
                max-width: 46%;
            }
            
            &.right-swipe {
                left: 135px;
                transition: left 1s ease;

                &.show {
                    left: 0;
                }
            }

            &.left-swipe {
                right: 135px;
                transition: right 1s ease;

                &.show {
                    right: 0;
                }
            }

            img {
                border-radius: 0.35rem;
                margin-bottom: 0.5rem;
            }

            > p {
                color: $text-light;
            }

            .learn-more {
                display: flex;
                align-items: center;

                svg {
                    transition: stroke 0.3s ease;
                }
                &:hover {
                    svg {
                        stroke: $foreground--accent;
                    }
                }
            }

            .tech-used {
                display: flex;
                gap: 0.5rem;

                p {
                    padding: 0.25rem 0.75rem;
                    border-radius: 10px;
                    border: 1.5px solid $text-light;
                }
            }
        }
    }
}