@use '../abstracts/animations' as *;

a {
    color: var(--foreground--main);
    transition: color 0.3s ease;

    & + .link-underline {
        display: block;
        height: 2px;
        border-radius: 30px;
        visibility: hidden;
        background-color: var(--foreground--accent);
    }

    svg {
        transition: stroke 0.3s ease;
    }

    &:hover {
        color: var(--foreground--accent);
        & + .link-underline {
            visibility: visible;
            animation: linkUnderline 0.75s forwards;
        }
        
        svg {
            stroke: var(--foreground--accent);
        }
    }

}

@keyframes linkUnderline {
    0% {
        width: 0px;
    }

    100% {
        width: 100%;
        height: 2px;
    }
}