@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

body {
    font-family: "Kumbh Sans", sans-serif;
    color: #fff;

    h1 {
        font-size: $h1-sm;
    }

    h2 {
        font-size: $h2-sm;
    }

    .accent-text {
        color: $foreground--accent;
    }

    @media (min-width: 40rem) {
        h1 {
            font-size: $h1-m;
        }

        h2 {
            font-size: $h2-m;
        }
    }

    @media (min-width: 70rem) {
        h1 {
            font-size: $h1-lg;
        }

        h2 {
            font-size: $h2-lg;
        }
    }
}
