.post-it-wrap {
    position: relative;
    z-index: 20;
    left: 11rem;
    bottom: 2rem;
    
    .post-it {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        text-align: center;
        background-color: var(--foreground--accent);
        max-width: 40%;
        border-radius: 1rem;
        padding: 1rem 0.25rem;
        z-index: 5;
        min-width: 85px;
    
        &.bg {
            width: 85px;
            height: 95px;
            z-index: 4;
            background-color: var(--decor--accent);
            z-index: 3;
            transform: rotate(-5deg);
            left: 0.5rem;
            top: 0.25rem;
        }
    
        p {
            color: #fff;
            margin: 0;
            font-size: 0.75rem;
            &:first-of-type {
                text-transform: uppercase;
            }
    
            &:nth-of-type(2) {
                font-size: 1.5rem;
            }
        }

        .peg {
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background: var(--background--main);
            top: 0.35rem;
            left: 2.5rem;
            right: 0;
        }
    
    }
}
