@keyframes btnHover {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(3deg);
    }
    70% {
        transform: rotate(-3deg);
    }
}

@keyframes iconHover {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(9deg);
    }
    70% {
        transform: rotate(-9deg);
    }
}

@keyframes ctaStatic {
    99% {
        position: relative;
    }

    100% {
        position: static;
    }
}