//colors
$background--main: linear-gradient(30deg, #0e0e0e, #1b1b1b);
$foreground--main: #fff;
$foreground--accent: #B398EB;
$text-dark: #1B1B1B;
$text-light: #9B9B9B;
$foreground--med: #383838;
$box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
$box-shadow--mild: 0 0 10px 2px #00000066;
$menu-bg: linear-gradient(to top, #000000 30%, #00000000);
$project-card: linear-gradient(to top, #5b5b5b66, #4a4a4a66);

$background-light--main: linear-gradient(30deg, #C9B9EB, #FFF);
$foreground-light--main: #472382;
$foreground-light--accent: #75609F;
$foreground-light--med: #8966be;
$text-light--light: #a08ec2;
$btn-link-light--hover: #75609F;
$btn-light-primary: 1.5px solid $foreground-light--main;
$btn-light-secondary: 1.5px solid $foreground-light--accent;
$box-light-shadow: 0 0 10px 2px #47238266;
$box-light-shadow--mild: 0 0 10px 2px #47238266;
$menu-light-bg: linear-gradient(to top, #472382 30%, #47238200);
$project-light-card: transparent;


//typography
$h1-sm: 3.25rem;
$h1-m: 5rem;
$h1-lg: 6rem;

$h2-sm: 1.12rem;
$h2-m: 1.5rem;
$h2-lg: 2.15rem;

$text-sm: 1rem;
$text-m: 1.15rem;
$text-lg: 1.3rem;

//buttons + links
$btn-link--hover: #B398EB;
$btn-primary: 1.5px solid $foreground--main;
$btn-secondary: 1.5px solid $foreground--accent;
$btn-transition--hover: transform 0.5s ease, border 0.5s ease;

//padding 
$padding-sm: 1rem;
$padding-m: 2rem;
$padding-lg: 2.5rem;