#app-wrap, header {
    section:not(#carousel):not(#project-info) {
        padding: 0 $padding-sm;
        margin-bottom: 3rem;

        @media(min-width: 60rem) {
            &:not(#about) &:not(#skills):not(#see-more-projects) {
                padding: 0 $padding-m;
            }

        }

        @media(min-width: 100rem) {
            &:not(#see-more-projects) {
                padding: 0 $padding-lg;
            }

        }
    }

    @media(min-width: 125rem) {
        display: grid;
        grid-template-columns: 0.5fr 5fr 0.5fr;
        grid-template-rows: auto;

        > * {
            grid-column: 2/3;
        }

        footer {
            grid-column: 1/4 !important;
        }
    }
}